* {
	margin:0;
	padding: 0;
}

.typography{
	font-family: "Verdana";
	font-size: 12px;
}

#ResourceContainer{
	padding: 5px 0px 0px 5px;
	background:#ccc;
	float:left;
	width: 100%;
}

#Header{
	background: rgb(28,22,124);
	background: linear-gradient(0deg, rgb(97, 132, 247) 0%, rgb(101, 169, 247) 9%, rgb(73, 223, 253) 100%);
	color: white;
	padding: 20px;
	border-bottom: 1px solid rgb(100, 91, 216);
	float: left;
	width: 100%;
}

.leftCenterContainer{
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
}

#Increase{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#Left{
	float:left;
	width: 30%;
}
#Right{
	float : right;
	width: 70%;
}

#BuildingContainer{
	padding: 5px;
}

#BuildingContainer table{
	border-spacing: 0;
	width: 100%;
}
	#BuildingContainer table td{
		border: 1px solid #333;
		padding: 5px;
	}
		#BuildingContainer table thead tr{
			background: #fdfde8;
		}

ul{
	list-style: none;
	display: block;
	height:30px;
}
	ul li{
		list-style: none;
		display:  block;
		clear: none;
		float:left;
		width: 40px;
		height: 20px;
		text-align: center;
	}

.button{
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

	.button:disabled{
		background-color: #cccccc;
	}