
:root{
	--headerHeight:118px;
}
* {
	margin:0;
	padding: 0;
}

@font-face {
	font-family: "pixelFont";
	src: url(fonts/alagard_by_pix3m-d6awiwp.ttf);
}

#game{
	position:absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	transform-origin: 0 0;
	overflow: hidden;
}

#headerContainer{
	position: absolute;
	width: 100%;
	height: var(--headerHeight);
}
	#Header{
		background: rgb(31, 32, 81);
		color: white;
		border-bottom: 1px solid rgb(2, 0, 32);
		width: 100%;
		font-family: pixelFont;
		height: 40px;
		position: absolute;
	}

	#ResourceContainer{
		background-image: url("images/woodtextureTest.jpg");
		position: absolute;
		width: 100%;
		height: 30px;
		color: white;
		font-weight: bold;
		top: 40px;
	}

	#navSection{
		position:absolute;
		width: 100%;
		height: 40px;
		top:70px;
	}

#bodyContainer{
	position: absolute;
	top: var(--headerHeight);
	width: 100%;
	bottom:0;
}


#Buildings, #World, #Compendeum{
	width: 100%;
	position: relative;
	height:100%;
}
	/* Buildings Containers */

	#BuildingMiddle{
		width: 50%;
		background-image: url("images/woodtextureborder_vertical.jpg");
		position:absolute;
		left: 27%;
		background-image: url("images/demo06_PixelSky_1920x1080.png");
		height: 100%;
	}

	#BuildingLeft{
		width: 27%;
		background-image: url("images/graveyardscene.jpg");
		background-repeat: no-repeat;
		background-color: #3f5b44;
		border: 1px solid black;
		position:absolute;
		height: 100%;
	}

	#BuildingRight{
		width: 23%;
		background-image: url("images/CloudSky.jpg");
		padding: 5px;
		left:77%;
		position: absolute;
		height: 100%;
	}



.typography{
	font-family: "Verdana";
	font-size: 15px;
}




.woodBorderHorizontal{
	background-image: url("images/woodtextureborder.jpg");
	height: 8px;
	width: 100%;
	position:absolute;
	left:0;
}



#Header h1{
	padding: 10px;
	text-shadow: 2px 2px #000000;
}

.leftCenterContainer{
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
}

#Increase{
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
}





#UpgradeContainer{
	background-image: url("images/woodtextureTest.jpg");
	float:left;
	width: 100%;
	color: white;
	font-weight: bold;
	min-height: 200px;
	position: relative;
}

#MiddleRight{
	width:8px;
	background-image: url("images/woodtextureborder_vertical.jpg");
}

#BuildingContainer{
	padding: 5px;
}

#BuildingContainer table{
	border-spacing: 0;
	width: 100%;
	font-family: pixelFont;
}
	#BuildingContainer table td{
		border: 1px solid #281707;
		padding: 5px;
		text-shadow: 2px 2px #000000;
		color: white;
		background-image: url("images/Woodpanels.jpg");
		box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
	}
		#BuildingContainer table thead tr{
			background-image: url("images/stoneTexture.jpg");
		}
		 	#BuildingContainer table thead tr th{
		 		padding: 5px;
		 		text-align: center;
		 		font-weight: bold;
				text-shadow: 1px 1px #000000;
		 		color: white;
		 		border: 1px solid #281707;
		 	}

ul{
	list-style: none;
	display: block;
}
	ul li{
		list-style: none;
		display:  block;
		clear: none;
		float:left;
		padding: 5px;
		height: 20px;
		text-align: center;
	}

.button{
	background-color: #750000; /* Green */
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border:4px solid rgb(86, 0, 0);
	font-family: pixelFont;
	border-radius: 10px;
	text-shadow: 1px 1px #000000;
}

	.button:disabled{
		background-color: #cccccc;
		color: #a5a5a5;
		border: #707070 2px solid;
	}

.button:active{
	background-color: #540000; 
	box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

/*Tabs styling*/
 .tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #393939;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-family: pixelFont;
	text-shadow: 2px 2px #000000;
	color:white;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
	background-color: #989898;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
	background-color: #7a6565;
  }
  
  /* Style the tab content */
  .tabcontent {
	display: none;
	border-top: none;
  } 